@import './theme';

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &.close {
    opacity: 0;
    visibility: hidden;
  }
}

.dialog-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4.5rem 0;
  background-color: $dark-light;
}

.dialog-content {
  max-width: 50rem;
  width: 100%;
  text-align: center;
  animation: fadeInContent 0.3s ease-in-out;

  .dialog-message {
    color: $grey-light;
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.25rem;
  }

  .dialog-actions {
    display: flex;
    justify-content: center;
    gap: 1.6rem;

    button {
      min-width: 8rem;
      text-transform: uppercase;
    }
  }

  @keyframes fadeInContent {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &.closing-content {
    animation: fadeOutContent 0.3s ease-in-out forwards;
  }

  @keyframes fadeOutContent {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-20px);
      opacity: 0;
    }
  }
}
