@import './theme';

.themed-button {
  padding: 1.4rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &.primary {
    background-color: $accent;
    color: $dark;
    box-shadow: inset 0px -0.4rem 0px #cc8b13;

    &:hover:not(.disabled) {
      background-color: $accent-light;
    }
  }

  &.secondary {
    background-color: $primary;
    color: $dark;

    &:hover:not(.disabled) {
      background-color: $secondary;
    }
  }

  &.tertiary {
    background-color: $grey;
    color: $dark;
    box-shadow: inset 0px -0.4rem 0px #6b8997;

    &:hover:not(.disabled) {
      background-color: $grey-light;
    }
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
  }
}
