.fade-enter {
  opacity: 0;
  position: absolute;
  width: 100%;
  padding: 2.4rem;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
  padding: 2.4rem;
}

.fade-exit {
  opacity: 1;
  position: absolute;
  width: 100%;
  padding: 2.4rem;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  padding: 2.4rem;
}
